body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:502px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:100px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:32px;
  width:502px;
  height:100px;
  display:flex;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u476 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
